body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url('https://pbs.twimg.com/media/FD29SsfWUAM6lqE?format=jpg&name=large');
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    
    
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 16px;
    font-size: 12px;
}
.formulario{
    background-color: rgba(128, 128, 128, 0.822);
    margin-top: 130px;
    padding: 1px;
    position: relative;
    width: 900px;
    margin: auto;
    max-width: 100%;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}


p{
    text-align: center;
    
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
        position: fixed;
        left: 40%;
        bottom: 50px;
    }
}
.btn{
    border-radius: px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgb(255,255,255,0.3);
    box-shadow: 0 1px 1px rgb(0,0,0,0.3);
    
}
.btn-green{
    color:white;
    background-color: #2980B9;
}
.btn-green:active{
    background-color: #2980B9;
}

.field{
    margin: auto;
    width: 100%;
}

.linksugerencia{
    text-decoration: none;
        color: green;
   font-weight: 600; 
}