body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url('https://pbs.twimg.com/media/FD29SsfWUAM6lqE?format=jpg&name=large');
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background-color: rgba(128, 128, 128, 0.822);
    margin-top: 150px;
    padding: 3px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid rgba(0, 255, 21, 0.342);
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #ff0000;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgba(255, 0, 0, 0.575);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: green;
    font-weight: 600;
}
.link:hover{
     color: green;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

.linkrecuperar{
    text-decoration: none;
      color: green;
    font-weight: 600;
}

.linksugerencia{
     text-decoration: none;
         color: green;
    font-weight: 600; 
}